button {
    background: none;
    border: 2px solid;
    padding: 1em 2em;
    margin: 0.5em;
    font-size: 1em;
    transition: color 0.25s, border-color 0.25s, box-shadow 0.25, transform 0.25s;
}

.yellow {
    color: #ffa260;
}

.green {
    color: #55a630;
}

.yellow:hover {
    border-color: #f1ff5c;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
    transform: translateY(-0.25em);
}

.green:hover {
    border-color: #bfd200;
    color: #fff;
    box-shadow: 0 0.5em 0.5em -0.4em #bfd200;
    transform: translateY(-0.25em);
}