* {
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-color: #151b29;
}

.welcome-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

p {
  color: aliceblue;
}

.therapy-area {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
}

/* #quiet-cat {
  position: absolute;
  left: 0;
  bottom: 0;
  transform: scale(0.5, 0.5);
} */
